
.caja-contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    margin: 150px, 100px;
    padding: 5px, 10px;
    border: solid, 2px, white;
}

.caja1 {
   
    background-color: blue;
    padding: 30px;
    margin: 30px 30, 15px,30;
    border: solid 2px;
}
.caja2 {
    background-color: rgb(255, 0, 119);
    margin: 30px;
    border: solid 2px;
    padding: 30px;
}