header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgb(179, 123, 232);
}
#lista {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
}
#pfooter {
    display: flex;
color: aqua;
justify-content: center;
}
footer {
    background-color: rgb(179, 123, 232);
}